
/* General App styling rules */

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* header style rules  */

.header {
  background-color: #171b21;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;

}

.headerItem {
  text-align: center;
}

h1 {
  font-size: inherit;
}
/* single file style rules */

.singleFileCont {

  display: grid;
  grid-template-columns: auto auto auto 1fr;
  grid-template-rows: 1fr auto;
  margin: 5px;
  width: 85vw;
  /* border: 1px solid white; */
}

.singleFileItem {
  border: 1px solid white;
  padding: 5px;

}

.fileId {
  width:fit-content;

}

.fileTitle {
  width: fit-content;
  white-space: nowrap;

}

.fileSentence {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.fileBody {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

/* all file container style rules */

.allFileCont {
  display: flex;
    align-items: center;
    flex-direction: column;

}

.activeTagsDisplay {
  display: flex;
  grid-column: 1/5;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  width: fit-content;


}

.activeTagsDisplay li{
  background-color: #226327;
  width: fit-content;
  border-radius: 5px;
  padding: 2px;
  margin: 1px;
  

}


/* search bar style rules  */

.searchBar {
  margin: 10px;
  width: 95vw;
 
}

form {
display: grid;
grid-template-columns: 3fr 1fr;
grid-template-rows: 1fr;
}

form input {
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
  border: none;
}

*:focus {
  outline: none
}


/* text file display style rules */

.textFileDisplayCont {
  width: 98vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 10px; */
  position: absolute;
  background-color: #282c34;


}

.textFileDisplay {
  width: auto;
  height: 100%;
  resize: none;
  grid-column: 2/3;

}

li, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  width: fit-content;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}

.textFileDisplayWithTags {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  width: 100%;
  height: 100%;
}

.tagSidebar {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.activeTags li {
background-color: #226327;
}

.inactiveTags li{
  background-color: #6b0707;
}

.activeTags li:hover, .inactiveTags li:hover {
  color: #b7b7b7;
}

.activeTags {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inactiveTags {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.navArrow {
  margin: 5px;
}

.navArrow:hover {
  color: #b7b7b7;
}